extends layout

block content 
  div(class="row" style="padding-top:5rem")
    div(class="col s4 offset-s1")
      img(src="/images/error.jpg", alt="error")
    div(class="col s6")
      h2(style="font-size:5rem") Oops!
      p(style="font-size:3rem; margin:0;") Looks like you dont remember your pasword or username    
      p(style="font-size:1.5rem; margin-bottom:0;") 
      p(style="font-size:1.5rem; margin:0;" ) Here are some helpfull link instead:
      a(href="/" style="font-size:1.5rem;") Home