doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
<<<<<<< HEAD
=======
    link(rel='stylesheet', href='/css/materialize.css')
    script(src="/js/profile.js")
    script(type="text/javascript" src="/js/materialize.js")
    link(rel='stylesheet', href='style2.css')
>>>>>>> 8b20da045e181ed08ec7a157c2723ee78864501b
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
  body
    block content
    script(type="text/javascript" src="/jquery/jquery.js")
    script(type="text/javascript" src="/js/materialize.js")
    script(src="/js/profile.js")
