doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/materialize.css')
    script(src="/js/profile.js")
    script(type="text/javascript" src="/js/materialize.js")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
  body
    block content
