extends profile
block content2
    div(class="row card")
        div(class="col s6 offset-s5")
            h2 FOROS
        div(class="col s10 offset-s1")
                div(class="row" id='profile-F')